{
  "overrides": [
    {
      "files": "*",
      "options": {
        "printWidth": 120,
        "useTabs": false,
        "requirePragma": false,
        "insertPragma": false,
        "trailingComma": "es5"
      }
    }
  ]
}
